<!DOCTYPE html>
<html>
    <head>
        <title>{{ current_year }} Spending</title>
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
        <link rel="shortcut icon" href="../static/krabs.ico" />
        <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    </head>
    <body style="padding: 10%">
        <h1>Shake my head</h1>
        <div class="card">
            <div class="card-body">
                <img src="../static/julius.jpg" width="100%"/>
                <h2 style="display: flex; justify-content: center; flex-wrap: wrap">You don't pay taxes, they take taxes</h2>
            </div>
        </div>
    </body>
    
</html>